---
formApi: "https://www.graphicmail.nl/api.aspx?SID=4&amp;Credentials=DtZEdUEEcUap7RsVxnxyWux37VTOip2Xp2M+gIusSMwpc9Hu7nDCFm2LffostDgC/8lkV84pfIARSyMl/Hfamx4oG8mt/mk8o+UsteAhNqMs/qO3lhsagAKn4EtikhystNc17yejBNe2b+pfgz1pwRTA3F1AwxkI87/m5D+5kPkj2DLiRn/CFk4UBeiBT37fW+kniU94iIxHeoOThig3YRuLGaxd3LeSloSHW1xcaEhMpaP+uFozdVPBBf5cVZwjx63xVLa5+jQZBf7UM9zaew==&amp;Function=post_add_email_and_data&amp;MailingListID=145464&amp;DatasetID=20853"
---

script
  var vimeoUserName = '15193529';
  var videoCallback = 'latestVideo';
  var oEmbedCallback = 'embedVideo';
  var videosUrl = 'http://vimeo.com/api/v2/' + vimeoUserName + '/videos.json?callback=' + videoCallback;
  var oEmbedUrl = 'http://vimeo.com/api/oembed.json';
  function embedVideo(video) {
    videoEmbedCode = video.html;
    document.getElementById('laatste').innerHTML = unescape(video.html);
  }
  function latestVideo(videos) {
    var videoUrl = videos[0].url;
    loadScript(oEmbedUrl + '?url=' + encodeURIComponent(videoUrl) +
      '&callback=' + oEmbedCallback + '&badge=0&title=0&byline=0&portrait=0&badge=0&color=e31741&width=300');
  }
  function loadScript(url) {
    var js = document.createElement('script');
    js.setAttribute('type', 'text/javascript');
    js.setAttribute('src', url);
    document.getElementsByTagName('head').item(0).appendChild(js);
  }
  window.onload = function() {
      loadScript(videosUrl);
  };


#media-bannier

  section#multimedia(role="complementary")

    aside.nieuwsbrief

      h3 KWARTAAL NIEUWSBRIEF

      p Meld je aan voor de Tredius nieuwsbrief

      form#ulier_nieuws(
        role="form"
        name="form_api"
        method="post"
        action="#{document.formApi}"
        )

        input.invoer(id='email', type='email', size="20", name="Email", placeholder='Uw emailadres...')

        a.versturen.knop.klein(href='#') Aanmelden &raquo;


    aside.video(
      itemscope
      role="complementary"
      itemtype="s:VideoObject"
      )

      iframe#vid1(src="http://player.vimeo.com/video/#{video1}?title=0&amp;byline=0&amp;portrait=0&amp;badge=0&amp;color=e31741"
        width="300"
        height="169"
        frameborder="0"
        webkitAllowFullScreen mozallowfullscreen allowFullScreen)

    article#laatste.video(itemscope, itemtype="s:VideoObject")


//- SucessReturnUrl=http://tredius.nl/succes.html&amp;ErrorReturnUrl=http://tredius.nl/error.html&amp;
//- SucessReturnUrl=succes.html&amp;ErrorReturnUrl=faal.html&amp;
